*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #88E0EF;
    font-family: sans-serif;
}

.navbar{
    height: 80px;
    width: 100%;
    background-color: #161E54;
}

.decaimg{
    width: 250px;
    height: 125px;
    margin: -20px 40px;
}



nav ul{
    float: right;
    margin-right: 40px;
}

nav li{
    display: inline-block;
    margin: 0px 10px;
    line-height: 80px;
}

li a{
    color: white;  
    font-size: 15px;
    padding: 10px 5px;
    border: 1px solid transparent;
    border-radius: 10px;
    text-transform: uppercase;
}

li a:hover, a.active{
    border: 1px solid whitesmoke;
}

#icon:hover{
    color: #a5a5a5;
    transform: scale(1.1, 1.1);
}

#icon{
    color: whitesmoke;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    }
    
@media (max-width: 1199px){

    .navbar{
        height: 50px;
        width: 100%;
        background-color: #161E54;
        
    }

.decaimg{
    width: 120px;
    height: 60px;
    margin: 0px 20px;
    }
    
#icon{
    display: block;
    font-size: 15px;
    line-height: 50px;


}

nav ul{
    margin-top: -15px;
    position: fixed;
    width: 100%;
    height: 600px;
    background-color: #797979;
    left: -100%;
    text-align: center;
    transition: all 1s;
    z-index: 100;
}

nav li{
    display: block;
    margin-bottom: 5px;
}

li a{
    color:whitesmoke;  
    font-size: 15px;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    border: 1px solid transparent;
    text-transform: uppercase;
}

 li a.active{
    color: #40e1ef;
    border: 1px solid transparent;
    border-bottom: 1px solid #FF5151;
}

li a:hover{
    color: #40e1ef;
    border: 1px solid transparent;
    
}

}

nav ul.show{
    left: 0;
}



/*          -----------------------      cuerpo                    --------------------------------                    */

.cs{
    background-color: rgb(255, 255, 255);
    width: 90%;
    margin: auto;
    margin-top: 10px;
    
}

.ti{
    margin-left: 20px;
    display: inline;
    padding: 5px;
}
 

.navtable{
    background-color: #FF5151;
    color: #fff;
    margin: auto;
    padding: 10px;
    padding-bottom: 20px;
    
}



.navtable a {
    float: right;
    margin-right: 20px;
    border-radius: 5px;
}

.a1{
    color: white;
    background-color: rgb(25, 138, 14);
    padding: 5px;
}

.a1:hover{
    background-color: rgb(37, 191, 23);
}

.a2{
    color: white;
    background-color: #1e43af;
    padding: 5px;

}

.a2:hover{
    background-color: #4372ff;
}

.clientes{
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    padding: 10px;    
    
}

th{
    padding: 10px;
    background-color: palegreen;
}

tr:nth-child(even){
    background-color: #e4e4e4;
    margin: auto;

}

td{
    text-align: center;
    padding: 8px;
}

.tda{
    display: flex;
    flex-wrap: wrap;
}

td a{
    margin: auto;
}
td a i{
    color: #161E54;  
    font-size: 15px;
    border-radius: 0;
    border: 1px solid transparent;
}


td a i:hover{
    color: #ec8e5f;
    border: 1px solid transparent;
    
}